/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html
  background #534388

body
  background #534388
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

.navbar
  background #170f39

  .links
    background #170f39 !important

.sidebar
  background #34246b

.home .hero
  img
    max-width 450px!important
  .action-button
    background #170f39 !important

.search-box input {
  color black !important
}

table
  border-collapse separate
  margin 0

th
  padding 0
  display none

th, td
  border none

tr:nth-child(2n) {
  background-color: $borderColor !important
}

ul
  list-style-type: disc;

.theme-default-content code
  background-color rgba(0,0,35,0.3)

.danger
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #8E1717
  .title
    font-weight bold

.quote
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #9983A3
  .title
    font-weight bold

.see_also
  margin 1rem
  padding-bottom: .5rem;
  //border-radius 0.4rem

  background #166a7c
  border-left .2rem solid rgba(23, 162, 184, .8)
  box-shadow 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.05rem rgb(0 0 0 / 10%)
  transition color .25s,background-color .25s,border-color .25s

  ul
    list-style-type none !important

  .custom-block-title
    font-weight bold
    background-color rgba(23, 162, 184, .8);
    padding-left .3rem
    margin-bottom .3rem

.construction
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  color black
  background-color #eed202
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

