/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html
  background #534388

body
  background #534388
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

.navbar
  background #170f39

  .links
    background #170f39 !important

.sidebar
  background #34246b

.home .hero
  img
    max-width 450px!important
  .action-button
    background #170f39 !important

ul
  list-style-type: disc;


.caninot
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #8E1717
  .title
    font-weight bold

.quote
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #9983A3
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right