/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html
  background #534388

body
  background #534388
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

.navbar
  background #170f39

  .links
    background #170f39 !important

.sidebar
  background #34246b

.home .hero
  img
    max-width 450px!important
  .action-button
    background #170f39 !important

ul
  list-style-type: disc;